<section class="container">
  <div class="form-wrapper">
    <div class="form-card">
      <div class="form-content">
        <h1 class="title">Login</h1>
        <form [formGroup]="SignupForm">
          <div class="form-group">
            <label for="username" class="label">Your Username</label>
            <input
              type="text"
              name="username"
              id="username"
              class="input"
              required
              formControlName="username"
              required
            />
            <div class="error-message" appShowError [appShowFormError]="SignupForm.controls['username']"></div>
          </div>

          <div class="form-group">
            <label for="password" class="label">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="input"
              required
              formControlName="password"
              required
            />
            <div class="error-message" appShowError [appShowFormError]="SignupForm.controls['password']"></div>
          </div>

          <button class="submit-btn" [disabled]="!SignupForm.valid" (click)="onSubmit()">Login</button>
        </form>
      </div>
    </div>
  </div>
</section>
