<section class="container">
  <div class="form-wrapper">
    <div class="form-card">
      <div class="form-content">
        <h1 class="title">Login</h1>
        <form [formGroup]="SignupForm">
          <div class="form-group">
            <label for="username" class="label">Your Username</label>
            <input
              type="text"
              name="username"
              id="username"
              class="input"
              placeholder="abc123"
              required
              formControlName="username"
            />
            <div class="error-message" *ngIf="SignupForm.controls['username']!.invalid && (SignupForm.controls['username']!.dirty || SignupForm.controls['username']!.touched)">
              <div *ngIf="SignupForm.controls['username']!.errors?.['required']">Username is required.</div>
              <div *ngIf="SignupForm.controls['username']!.errors?.['minlength']">Username must be at least 4 characters long.</div>
              <div *ngIf="SignupForm.controls['username']!.errors?.['pattern']">Username can only contain letters, numbers, and underscores.</div>
            </div>
          </div>
          
          <div class="form-group">
            <label for="password" class="label">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="input"
              placeholder="••••••••"
              required
              formControlName="password"
            />
            <div class="error-message" *ngIf="SignupForm.controls['password']!.invalid && (SignupForm.controls['password']!.dirty || SignupForm.controls['password'].touched)">
              <div *ngIf="SignupForm.controls['password']!.errors?.['required']">Password is required.</div>
              <div *ngIf="SignupForm.controls['password']!.errors?.['minlength']">Password must be at least 4 characters long.</div>
            </div>
          </div>

          <button class="submit-btn" [disabled]="!SignupForm.valid" (click)="onSubmit()">Login</button>
        </form>
      </div>
    </div>
  </div>
</section>
