<div *ngIf="progressSpinner === true" class="spinner">
  <div class="spinner-section">
  <mat-spinner  [diameter]="50"></mat-spinner>
</div>
</div>
<div class="parent" *ngIf="progressSpinner === false">
  <div class="subParent">
    <div *ngIf="projectList.length == 0" style=" display: flex; align-items: center; justify-content: center;">
      <div style="color: red; margin: 7px">
      No Project Present
  </div>
    <div>
        <!-- <button class="taskBtn" (click)="openAddTaskDialog()">Create Task</button> -->
    </div>

    </div>
    <div *ngIf="projectList.length != 0">
      <table >
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Created On</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of projectList" class="project-row">
            <td class="project-name">{{items.project.name}}</td>
            <td class="project-description">{{items.project.description | maxLength: 60}}</td>
            <td class="project-status">{{items.project.status | status}}</td>
            <td class="project-date">{{items.project.createdOn | date: 'dd/MM/yyyy'}}</td>
            <td>
              <div style="display: flex;">
                <button class="viewBtn" (click)="openTaskListDialog(items.project.id)" *ngIf="items.tasks != 0 && items.tasks != null && items.tasks != undefined">View Task</button> 
                 <!-- <button (click)="openAddTaskDialog()" class="addBtn">Add Task</button> -->
                <button class="addBtn" (click)="openAddTaskDialog(items.project.id, items.project.name)">Add Task</button> 
              </div>
           </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  
