<div class="dashboard-container">
    <div style="background-color: #2a49e2; position: sticky;">
      <app-side-bar></app-side-bar>
    </div>
  
    <div class="main-content">
        <header>
            <div class="headerSec">
              <div>
                <h1>Task</h1>
              </div>
              <!-- <div class="import-export">
                <button class="import" routerLink="add">Add New Task</button>
              </div> -->
            </div>
            <div class="searchParent">
              <div class="SearchingSec">
                <div class="inputSec">
                  <input type="text" placeholder="Search" class="search-input" [(ngModel)]="dataPage.search"
                    (keydown.enter)="searchTaskNew()">
                </div>
                <div><button (click)="searchTaskNew()" class="submit">Submit</button></div>
              </div>
              <div class="employeeNo">
                <label style="color: rgb(117, 116, 116);">Total Projects:</label>
                <div class="length" style=" color: rgb(117, 116, 116); padding: 2px">{{taskListLength}}</div>
              </div>
            </div>
          </header>
  
      <div class="table-container">
        <table mat-table matSort (matSortChange)="sortData($event)" class="sales-table">
          <thead>
            <tr>
              <th>Serial No.</th>
              <th mat-sort-header="Name">Task Name</th>
              <th>Assigned To</th>
              <th mat-sort-header="CreatedOn">Created On</th>
              <th mat-sort-header="Status">Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of filteredTasksData; let i = index">
              <div *ngIf="progressSpinner === true" class="spinner">
                <mat-spinner></mat-spinner>
              </div>
              <td>{{ i + 1 }}</td>
              <td>{{ task.name }}</td>
              <td>{{ task.assigneeName }}</td>
              <td>{{ task.createdOn | date: 'short' }}</td>
              <td>{{ task.status | task }}</td>
              <td>
                <!-- <button [routerLink]="['edit', task.id]">
                    <mat-icon class="mat-icon">update</mat-icon></button> -->
                  <button (click)="deleteTask(task.id!)" class="deleteBtn">
                    <mat-icon>delete</mat-icon></button>
                  <!-- <button [routerLink]="['view', task.id]" class="viewBtn">
                    <mat-icon>visibility</mat-icon> </button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <footer>
        <div class="pagination-controls">
          <div class="entries-per-page">
            <label for="entries" class="labelOption">Items per page
              <select id="entries" [(ngModel)]="dataPage.pagedItemsCount" (change)="onPageSizeChange($event)" >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </label>
          </div>
  
          <div>
            <div class="pagination">
              <div (click)="onPrevious()"   [ngClass]="{'disabled': dataPage.pageIndex <= 1}" >
                <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" width="20px" height="20px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m13.789 7.155c.141-.108.3-.157.456-.157.389 0 .755.306.755.749v8.501c0 .445-.367.75-.755.75-.157 0-.316-.05-.457-.159-1.554-1.203-4.199-3.252-5.498-4.258-.184-.142-.29-.36-.29-.592 0-.23.107-.449.291-.591 1.299-1.002 3.945-3.044 5.498-4.243z"/></svg>
            </div>
              <!-- <button (click)="onPrevious()" [disabled]="dataPage.pageIndex <= 1">Previous</button> -->
              <span class="page-number">{{dataPage.pageIndex}}</span>
              <div (click)="onNext()"    [ngClass]="{'disabled': dataPage.pageIndex >= getTotalPages()}">
                <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" width="20px" height="20px" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m10.211 7.155c-.141-.108-.3-.157-.456-.157-.389 0-.755.306-.755.749v8.501c0 .445.367.75.755.75.157 0 .316-.05.457-.159 1.554-1.203 4.199-3.252 5.498-4.258.184-.142.29-.36.29-.592 0-.23-.107-.449-.291-.591-1.299-1.002-3.945-3.044-5.498-4.243z"/></svg>
            </div>
              <!-- <button class="pagination-link" (click)="onNext()"
                [disabled]="dataPage.pageIndex >= getTotalPages()">Next</button> -->
            </div> 
  
            <div class="parentList">
              <div class="pagesList" *ngFor="let i of totalPagesList" (click)="goToPage(i)">{{i}}</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  