<div *ngIf="progressSpinner === true" class="spinner">
  <div class="spinner-section">
  <mat-spinner  [diameter]="50"></mat-spinner>
</div>
</div>
<section class="task-log-container" *ngIf="progressSpinner === false">
  <div style="display: flex; justify-content: flex-end; align-items: center;">
    <button style="color: white; background-color: rgb(58, 144, 250); padding: 7px; margin: 5px; border-radius: 7px" (click)="showMoreLogs()">Show More</button>
  </div>
  <div *ngIf="logList.length > 0; else noLogs">
    <h2>Task Log List</h2>
    <table class="task-log-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Log Description</th>
        </tr>
      </thead>
      <tbody>
 
        <tr *ngFor="let log of logList; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ log.message}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noLogs>
    <p>No logs available for this task.</p>
  </ng-template>
</section>
