<div class="dashboard-container"> 
  <div *ngIf="progressSpinner === true" class="spinner">
    <div class="spinner-section">
    <mat-spinner  [diameter]="50"></mat-spinner>
  </div>
  </div>

  <div class="main-content" *ngIf="progressSpinner === false">
    <header>
      <div class="headerSec">
        <div>
          <h1>Employees</h1>
        </div>
        <div class="import-export" *ngIf="!data?.isActive">
          <button class="import" routerLink="add">Add New Employee</button>
        </div>
        <!-- <div style="display: flex; justify-content: end;">
          <div class="import-export" *ngIf="data?.isActive">
            <button class="import" [mat-dialog-close]="projectEmployees">Save</button>
          </div>
          <div class="import-export" *ngIf="data?.isActive">
            <button class="importClose" mat-dialog-close="true">Cancel</button>
          </div>
        </div> -->
      </div>
      <div class="searchParent">
        <div class="SearchingSec">
          <div class="inputSec">
            <input type="text" placeholder="Search" class="search-input" [(ngModel)]="dataPage.search"
              (keydown.enter)="searchEmployeeNew()">
          </div>
          <div><button (click)="searchEmployeeNew()" class="submit" [disabled]="dataPage.search?.length == 0">Submit</button></div>
          <div><button (click)="reset()" class="reset" [disabled]="dataPage.search?.length == 0">Reset</button></div>
          <div>
            <mat-form-field style="width: 200px; margin-left: 14px">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
        <div class="employeeNo">
          <label style="color: rgb(117, 116, 116);">Total Employees:</label>
          <div class="length" style=" color: rgb(117, 116, 116); padding: 2px">{{employeeListLength}}</div>
        </div>
      </div>
      <div *ngIf="data?.isActive">
        Select All <mat-checkbox (change)="selectAllEmployees($event)"></mat-checkbox>
      </div>
    </header>

    <div class="table-container">
      <table mat-table matSort (matSortChange)="sortData($event)" class="sales-table" matSortActive="CreatedOn" matSortDirection="desc">
        <thead>
          <tr>
            <th *ngIf="!data?.isActive">Serial No.</th>
            <th *ngIf="data?.isActive">CheckBoxes</th>
            <th mat-sort-header="Name">Employee Name</th>
            <th mat-sort-header="CreatedOn">Created On</th>
            <th mat-sort-header="DepartmentName">Department Name</th>
            <th mat-sort-header="Salary">Salary</th>
            <th mat-sort-header="Role">Role</th>
            <th *ngIf="!data?.isActive">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeList; let i = index">
            <td *ngIf="!data?.isActive">{{ (currentPage - 1) * pagedItemsCount + (i + 1) }}</td>
            <td *ngIf="data?.isActive">
              <mat-checkbox [checked]="employee.isChecked" (change)="onCheckboxChange($event, employee)">
              </mat-checkbox>
            </td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.createdOn | date: 'dd/MM/yyyy' }}</td>
            <td>{{ employee.departmentName }}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.role | role }}</td>
            <td *ngIf="!data?.isActive">
              <!-- <button *ngIf="data?.isActive && !existInArray(employee.id)"
                (click)="addEmployeeInProject(employee.id, employee.name)">
                <mat-icon class="small-icon">add</mat-icon>
              </button>
              <button *ngIf="data?.isActive && existInArray(employee.id)" (click)="removeEmployeeInProject(employee.id)"
                class="small-icond">
                <mat-icon class="small-icond">remove</mat-icon>
              </button> -->
              <button [routerLink]="['edit', employee.id]" *ngIf="!data?.isActive">
                <mat-icon class="small-icon">edit</mat-icon></button>
              <button [routerLink]="['view', employee.id]" class="viewBtn" *ngIf="!data?.isActive">
                <mat-icon class="small-icon">visibility</mat-icon>
              </button>
              <button (click)="deleteEmployee(employee.id!)" class="deleteBtn" *ngIf="!data?.isActive">
                <mat-icon class="small-icon">delete</mat-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

     <footer>
      <div>
            <app-pagination [pagedItemsCount]="dataPage.pagedItemsCount" [pageIndex]="dataPage.pageIndex" [totalPagesList]="totalPagesList" (pageSizeChange)="onPageSizeChange2($event)"
      (onPreviousClick)="onPrevious2($event)"  [totalPages]="totalPages" (onNextClick)="onNext2($event)" (goToPageValue)="loadPageData2($event)" [totalLength]="employeeListLength"></app-pagination>
    </div>
      <div style="display: flex; justify-content: end;">
        <div class="import-export" *ngIf="data?.isActive">
          <button class="import" [mat-dialog-close]="projectEmployees">Save</button>
        </div>
        <div class="import-export" *ngIf="data?.isActive">
          <button class="importClose" mat-dialog-close="true">Cancel</button>
        </div>
      </div>
      </footer>
  </div>
</div>