<div class="dashboard-container">
  <!-- <div *ngIf="progressSpinner === true" class="spinner">
    <div class="spinner-section">
    <mat-spinner></mat-spinner>
  </div>
  </div> -->

  <div class="main-content">
    <header>
      <div class="Formsection">
        <div *ngIf="data?.projectName">
          <h2>{{data.projectName}}</h2>
        </div>
        <div *ngIf="taskTypeDialog?.taskType">
          <h2>{{taskTypeDialog.taskType | taskType}}</h2>
        </div>
        <div>
        </div>
      </div>
    </header>

    <section class="Formsection">
      <form [formGroup]="taskForm">
        <table>
          <tbody>
            <tr *ngIf="taskTypeDialog">
              <td><label> Type: </label></td>
              <!-- <td>
                <div>{{taskTypeDialog.taskType | taskType}}</div>
              </td> -->
            </tr>
            <tr *ngIf="!taskTypeDialog">
              <td>
                <label for="taskType">Select Type:</label>
                <select id="taskType" formControlName="taskType" class="input-field">
                  <option [ngValue]="0">Epic</option>
                  <option [ngValue]="1">Feature</option>
                  <option [ngValue]="2">User Story</option>
                  <option [ngValue]="3">Task</option>
                  <option [ngValue]="4">Bug</option>
                </select>
                <div
                  *ngIf="taskForm.controls['taskType']!.invalid && (taskForm.controls['taskType']!.touched || taskForm.controls['taskType']?.dirty)">
                  <div *ngIf="taskForm.controls['taskType']?.errors?.['required']" class="warn">Task Type is required.
                  </div>
                </div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <div>
                  <mat-form-field>
                    <mat-label>Select Sprint</mat-label>
                    <mat-select formControlName="sprintId">
                      <mat-option *ngFor="let sprint of sprintList" [value]="sprint.id">
                        {{ sprint.name }}
                      </mat-option>
                      <!-- <mat-option (click)="onSprintNone()">None</mat-option> -->
                    </mat-select>
                  </mat-form-field>
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="name">Name:</label></td>
              <td>
                <input id="name" type="text" formControlName="name" placeholder="Add Name" class="input-field">
                <div
                  *ngIf="taskForm.controls['name']?.invalid && (taskForm.controls['name']?.touched || taskForm.controls['name']?.dirty)">
                  <div *ngIf="taskForm.controls['name']?.errors?.['required']" class="warn">Name is required.</div>
                  <div *ngIf="taskForm.controls['name']?.errors?.['minlength']" class="warn">Name must be at least 3
                    characters long.</div>
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="description">Description:</label></td>
              <td>
                <textarea id="description" type="text" formControlName="description" placeholder="Description"
                  class="input-field">
                </textarea>
                <div
                  *ngIf="taskForm.controls['description']!.invalid && (taskForm.controls['description']!.touched || taskForm.controls['description']?.dirty)">
                  <div *ngIf="taskForm.controls['description']?.errors?.['required']" class="warn">Description is
                    required.
                  </div>
                  <div *ngIf="taskForm.controls['description']?.errors?.['minlength']" class="warn">Description must be
                    at
                    least 15 characters long.</div>
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="assignedTo">Assigned To:</label></td>
              <td>
                <select id="assignedTo" formControlName="assignedTo" class="input-field">
                  <option *ngFor="let employee of employeeList" [value]="employee.employeeId">{{employee.employeeName}}
                  </option>
                </select>
              </td>
            </tr>
            <!-- <tr > -->
            <tr *ngIf="(taskForm.controls['taskType']?.value == 3 || taskForm.controls['taskType']?.value == 4)">
              <td><label for="assignedTo">Total Estimated Hours:</label></td>
              <td>
                <input id="time" type="number" formControlName="originalEstimateHours" placeholder="Estimated Hours"
                  class="input-field">
                <!-- <select id="assignedTo" formControlName="originalEstimateHours" class="input-field">
                  <option *ngFor="let employee of employeeList" [value]="employee.employeeId">{{employee.employeeName}}
                  </option>
                </select> -->
              </td>
            </tr>
            <tr>
              <td colspan="2" class="form-buttons">
                <button type="submit" [disabled]="!taskForm.valid" class="submit-button"
                  style="margin-right: 1rem; margin-top: 7px" (click)="submit()" [ngStyle]="{
                    'background-color': (!taskForm.valid || disableSubmitBtn) ? '#d6d6d6' : '#007bff',
                    'color': (!taskForm.valid || disableSubmitBtn) ? '#a1a1a1' : 'white',
                    'cursor': (!taskForm.valid || disableSubmitBtn) ? 'not-allowed' : 'pointer'
                  }">
                  {{'Submit' }}
                </button>
                <button type="button" mat-dialog-close class="cancel-button"
                  style="margin-left: 1rem; margin-top: 7px">Cancel</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </section>
  </div>
</div>