
<div class="add-sprint-container">
    <h2>{{data ? 'Update sprint': 'Add New sprint'}}</h2>
  
    <form [formGroup]="AddSprintForm" (ngSubmit)="submit()" novalidate *ngIf="AddSprintForm">

      <div class="form-group">
        <label for="name">Sprint Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          placeholder="Enter Sprint Name"
          [ngClass]="{ 'is-invalid': AddSprintForm.controls['name'].invalid && AddSprintForm.controls['name'].touched }"
        />
        <div *ngIf="AddSprintForm.controls['name']?.invalid && AddSprintForm.controls['name']?.touched" class="invalid-feedback">
          <span *ngIf="AddSprintForm.controls['name']?.errors?.['required']">Sprint name is required.</span>
          <span *ngIf="AddSprintForm.controls['name']?.errors?.['minlength']">Sprint name must be at least 3 characters.</span>
        </div>
      </div>

      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input
          type="date"
          id="startDate"
          formControlName="startDate"
          class="form-control"
          [ngClass]="{ 'is-invalid': AddSprintForm.controls['startDate'].invalid && AddSprintForm.controls['startDate'].touched }"
        />
        <div *ngIf="AddSprintForm.controls['startDate']?.invalid && AddSprintForm.controls['startDate']?.touched" class="invalid-feedback">
          <span *ngIf="AddSprintForm.controls['startDate']?.errors?.['required']">Start date is required.</span>
        </div>
      </div>
  
      <div class="form-group">
        <label for="endDate">End Date</label>
        <input
          type="date"
          id="endDate"
          formControlName="endDate"
          class="form-control"
          [ngClass]="{ 'is-invalid': AddSprintForm.controls['endDate'].invalid && AddSprintForm.controls['endDate'].touched }"
        />
        <div *ngIf="AddSprintForm.controls['endDate']?.invalid && AddSprintForm.controls['endDate']?.touched" class="invalid-feedback">
          <span *ngIf="AddSprintForm.controls['endDate']?.errors?.['required']">End date is required.</span>
        </div>
      </div>

      <input type="hidden" formControlName="projectId" />

      <button (click)="submit()" class="btn btn-primary" >Add Sprint</button>
    </form>
  </div>
  