<div class="dashboard-container" ngSkipHydration>
    <div *ngIf="progressSpinner === true" class="spinner">
        <div class="spinner-section">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
    </div>
    <div *ngIf="progressSpinner === false">
        <form [formGroup]="taskForm">
            <!-- <form> -->
            <div class="parentDiv" *ngIf="progressSpinner === false">

                <div class="taskDetailsSec" style="border-left: 6px solid rgb(155, 155, 58); margin: 1rem">
                    <section style="margin: 1rem;">
                        <div style="display: flex; justify-content: flex-end; align-items: center;">
                            <button [disabled]="taskForm.pristine || taskForm.invalid" class="updateBtn" (click)="updateTask()">Update</button>
                          </div>                          
                        <div style="font-size: 20px; margin: 7px; padding: 5px">Task {{taskDetails.id}}</div>
                        <input type="text" style="font-size: 20px; color: grey" formControlName="name">
                        <div style="margin-top: 12px;margin-bottom: 12px; padding: 5px">
                            <label style="font-size: 17px; margin-bottom: 7px; padding: 5px"><strong>Assigned
                                    To:</strong></label>
                            <select formControlName="assignedTo">
                                <option *ngFor="let employee of EmployeeList" [value]="employee.id">
                                    {{EmployeeName==employee.name ? 'Me': employee.name}}</option>
                            </select>
                        </div>
                    </section>

                </div>
                <div
                    style="background-color: rgb(222, 220, 220); margin: 1rem; padding: 1rem; display: flex; justify-content: space-between;">
                    <div>
                        <p><strong style="color: grey;">Status:</strong></p>
                        <mat-select formControlName="status" 
                            style="width: 8rem">
                            <mat-option [value]="0"> New </mat-option>
                            <mat-option [value]="1"> Active </mat-option>
                            <mat-option [value]="2"> Completed </mat-option>
                        </mat-select>
                    </div>
                    <div [routerLink]="['/tasks/log', paramId]">
                        <button><mat-icon>view_list</mat-icon></button>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="task-view-container"
                        style="margin-left: 1rem; height: 800px; width: 700px; overflow-y: scroll; overflow-x: hidden;">
                        <!-- Task Details Section -->
                        <div>
                            <section class="task-details-section">
                                <div
                                    style="font-size: large; font-weight: 500; padding: 1rem; border-bottom: 1px solid grey; width: 500px;">
                                    Description:</div>
                                <!-- <div>
                            <textarea [(ngModel)]="taskDetails.description"(ngModelChange)="checkAndUpdateTask('description')"></textarea>
                        </div> -->
                                <div>
                                    <textarea formControlName="description" class="textAreaSec"></textarea>
                                </div>
                                <div *ngIf="taskForm.controls['description'].invalid  && taskForm.controls['description'].touched">
                                    <div style="color: red">Descrption is required</div>
                                </div>
                            </section>

                            <div>
                            </div>
                            <!-- Reviews Section -->
                            <section class="task-reviews-section">
                                <div style="display: flex; justify-content: space-between;">
                                    <div>
                                        <h3>Discussions</h3>
                                    </div>
                                    <section>
                                        <button (click)="addReviews()" class="addDiscussions">Add Discussions</button>
                                    </section>
                                </div>
                                <!--Add Review section-->
                                <div *ngIf="openReviewBox == true">
                                    <form [formGroup]="taskReviewForm">
                                        <div>
                                            <!-- <input type="text" [(ngModel)]="reviewContent" class="inputBox"
                                style="width: 500px; height: 10px;"> -->
                                            <input type="text" formControlName="reviewDescription" class="inputBox"
                                                style="width: 500px; height: 10px;">
                                            <button (click)="submitReview()" class="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <ul *ngIf="reviews.length > 0">
                                    <li *ngFor="let review of reviews">
                                        <div class="review-item">
                                            <div>
                                                <img [src]="review.reviewerAvatarUrl" alt="Reviewer Avatar"
                                                    class="review-avatar" />
                                            </div>
                                            <div class="review-content">
                                                <form [formGroup]="taskReviewForm">
                                                    <div>
                                                        <p *ngIf="EmployeeName === review.reviewedBy">
                                                            <strong>Me</strong>
                                                        </p>
                                                        <p *ngIf="EmployeeName !== review.reviewedBy"><strong>{{
                                                                review.reviewedBy }}</strong></p>
                                                        <div *ngIf="taskReviewId !== review.id">
                                                            <p>{{ review.content }}</p>
                                                        </div>
                                                        <div *ngIf="taskReviewId === review.id">
                                                            <input formControlName="reviewDescription" />
                                                        </div>
                                                        <p><small>{{ review.cretaedOn | date: 'dd/MM/yyyy' }}</small>
                                                        </p>
                                                    </div>
                                                </form>

                                                <!-- Show edit button if the review is by the current user -->
                                                <div>
                                                    <mat-icon *ngIf="!editBoolean && taskReviewId !== review.id"
                                                        (click)="editReviewContent(review.id, review.content)">edit</mat-icon>
                                                    <button *ngIf="editBoolean  && taskReviewId === review.id"
                                                        class="buttonCancle" (click)="cancleUpdate()">Cancel</button>
                                                    <button *ngIf="editBoolean  && taskReviewId === review.id"
                                                        (click)="updateReviews(taskReviewForm.controls['reviewDescription'].value, review.id)">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>


                            </section>
                            <!--- Temp section-->

                        </div>
                        <!-- </section> -->
                    </div>
                    <div>

                    </div>
                    <section class="task-view-container"
                        style="margin-left: 1rem; margin-right: 0.5rem; height: 800px; width: 550px"
                        *ngIf="taskDetails.taskType == 3 || taskDetails.taskType == 4">
                        <section class="task-subtasks-section">
                            <div>
                                <h3 style="border-bottom: 1px solid grey;">Planning</h3>
                                    <div style="padding: 5px; margin: 5px">Priority</div>
                                    <div style="padding: 5px; margin: 5px">2</div>
                            </div>
                            <div>
                                <h3 style="border-bottom: 1px solid grey;">Effort</h3>
                                <div>
                                    <div style="padding: 5px; margin: 5px">Original Estimate</div>
                                    <div *ngIf="taskDetails.originalEstimateHours != null">
                                        <input type="number" formControlName="originalEstimateHours">
                                    </div>
                                    <div *ngIf="taskDetails.originalEstimateHours == null">
                                        <input type="number" formControlName="originalEstimateHours">
                                    </div>
                                    <div style="padding: 5px; margin: 5px">Remaining</div>
                                    <div *ngIf="taskDetails.remainingEstimateHours != null">
                                        <input type="number" formControlName="remainingEstimateHours">
                                    </div>
                                    <div *ngIf="taskDetails.remainingEstimateHours == null">
                                        <input type="number" formControlName="remainingEstimateHours">
                                    </div>
                                    <div *ngIf="originalEstimatedTime! < remainingEstimatedTime!" style="color: red; margin-top: 10px;">
                                        Original Estimate Hours should be greater than or equal to Remaining Estimate Hours.
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>

                    <div
                        style="margin-left: 0.5rem; margin-right: 1rem; height: 800px; width: 700px; overflow-y: scroll; overflow-x: hidden;">
                        <section class="task-view-container" *ngIf="ParentInfo != null">
                            <!-- Subtasks Section -->
                            <section class="task-subtasks-section">
                                <div style="display: flex; justify-content: space-between;">
                                <div>
                                    <h3>Parent</h3>
                                </div>
                                <div *ngIf="toggleTaskParentSec == false"><mat-icon (click)="toggleTaskParent()">edit</mat-icon></div>
                                <div *ngIf="toggleTaskParentSec == true"><button (click)="toggleTaskParent()" class="cancleBtn">cancle</button></div>
                            </div>
                                <!-- Debugging -->
                                <div *ngIf="ParentList!.length === 0">No parents available</div>
                                <div *ngIf="ParentList!.length > 0">
                                    <div
                                        class="parentInfo" [routerLink]="['/tasks/view', ParentInfo.id]">
                                        <!-- <div>{{ParentInfo.id}}</div> -->
                                        <div>{{ParentInfo.name}}</div>
                                        <div>({{ParentInfo.taskType | taskType}})</div>
                                    </div>
                                    <div *ngIf="toggleTaskParentSec== true" class="parentListOptions">
                                        <mat-select formControlName="parentId">
                                            <mat-option *ngFor="let parent of ParentList"
                                                [value]="parent.id">{{parent.name}}</mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                            </section>
                        </section>
                        <section *ngIf="subTasks.length > 0" class="task-view-container">
                            <!-- Subtasks Section -->
                            <section class="task-subtasks-section">
                                <div style="display: flex; justify-content: space-between;">
                                    <div>
                                        <h3>Subtasks</h3>
                                    </div>
                                    <div>
                                        <button
                                            (click)="openAddTaskDialog(TaskType, taskId)"><mat-icon>add</mat-icon></button>
                                    </div>
                                </div>
                                <ul>
                                    <li *ngFor="let subTask of subTasks">
                                        <div class="subtask-item">
                                            <a [routerLink]="['/tasks/view', subTask.id]"
                                                class="subtaskchild"><strong>{{
                                                    subTask.name
                                                    }}</strong> ({{ subTask.taskType | taskType}})</a>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        </section>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>