<section class="department-section">
  <div class="container">
    <div class="header">
      <h1>Add New Department</h1>
    </div>
    <form [formGroup]="departmentForm" (ngSubmit)="submit()">
      <div class="input-field">
        <input type="text" placeholder="Department Name" formControlName="name">
        <div *ngIf="departmentForm.get('name')!.invalid && departmentForm.get('name')!.touched" class="error-message">
          Department Name is required
        </div>
      </div>
      <div class="submit-button">
        <button type="submit">Submit</button>
        <button type="button" mat-button mat-dialog-close>Cancle</button>
      </div>
    </form>
  </div>
</section>

