<div class="sidebar">
    <div class="project-name">
      <!-- <h2>Project Name</h2> -->
    </div>
    <nav>
      <ul class="grid-menu">
        <li routerLink="/departments" *ngIf="role != 0">
          <a >DEPARTMENTS</a>
          <mat-icon style="margin-bottom: 1rem; margin-right: 3.5rem;">domain</mat-icon>
        </li>
        <li routerLink="/employees" *ngIf="role != 0">
          <a >EMPLOYEES</a>
          <mat-icon style="margin-bottom: 1rem; margin-right: 3.5rem;">groups</mat-icon>
        </li>
        <li routerLink="/projects">
          <a >PROJECTS</a>
          <mat-icon style="margin-bottom: 1rem; margin-right: 3.5rem;">web_stories</mat-icon>
        </li>
        <li [routerLink]="['/employees/view', userId]">
          <a >PROFILE</a>
          <mat-icon style="margin-bottom: 1rem; margin-right: 3.5rem;">account_circle</mat-icon>
        </li>
        <li (click)="logout()">
          <a>LOGOUT</a>
          <mat-icon style="margin-bottom: 1rem; margin-right: 3.5rem;">logout</mat-icon>
        </li>
      </ul>
      
    </nav>
    <div class="teams">
      <!-- <h3>Teams</h3> -->
      <div class="team-members">
        <!-- Placeholder for team members' avatars -->
      </div>
      <!-- <a routerLink="#" class="invite-button">+ Invite</a> -->
    </div>
  </div>

