<section class="department-section">
    <div class="container">
      <div class="header">
        <h1>Add New Project</h1>
      </div>
      <form [formGroup]="ProjectForm" >
        <div class="input-field">
          <div *ngIf="progressSpinner === true" class="spinner">
            <mat-spinner></mat-spinner>
          </div>
          <input type="text" placeholder="Project Name" formControlName="name">
          <div *ngIf="ProjectForm.get('name')!.invalid && ProjectForm.get('name')!.touched" class="error-message">
            Project Name is required
          </div>
          <input type="text" placeholder="Project Description" formControlName="description">
          <div *ngIf="ProjectForm.get('description')!.invalid && ProjectForm.get('description')!.touched" class="error-message">
            Project Description is required
          </div>
          <div>
            <label for="role">Role:</label>
            <select id="role" formControlName="status" class="input-field">
              <option [ngValue]="0">Pending</option>
              <option [ngValue]="1">Active</option>
              <option [ngValue]="2">Complete</option>
            </select>
          </div>
          <div>
            <button (click)="addMembers()">Add Members</button>
          </div>
          <div>
          </div>
        </div>

        <div class="submit-button">
          <button type="submit" [disabled]="!ProjectForm.valid" (click)="submit()">Submit</button>
          <button type="button" mat-button mat-dialog-close>Cancel</button>
        </div>
      </form>
    </div>
  </section>
  