<section class="department-section">
  <div class="container">
    <div class="header">
      <h1>{{ isEdit ? 'Edit Project' : 'Add Project' }}</h1>
    </div>
    <form [formGroup]="ProjectForm">
      <div class="input-field">

         <h3>Project Name: </h3>
         <input type="text" placeholder="Project Name" formControlName="name">
         <div *ngIf="ProjectForm.controls['name'].invalid && (ProjectForm.controls['name'].touched || ProjectForm.controls['name'].dirty)"
           class="error-message">
           <div appShowError [appShowFormError]="ProjectForm.controls['name']" class="error-message">
          </div>
           <!-- <div *ngIf="ProjectForm.controls['name'].errors?.['minlength']">Project Name must be at least 3 characters long.</div> -->
          </div>

         <h3>Project Description: </h3>
         <input type="text" placeholder="Project Description" formControlName="description">
         <div *ngIf="ProjectForm.controls['description'].invalid && (ProjectForm.controls['description'].touched || ProjectForm.controls['description'].dirty)"
           class="error-message">
           <div appShowError [appShowFormError]="ProjectForm.controls['description']" class="error-message">
          </div>
         </div>

        <div>
          <button type="button" (click)="addMembers()" style="padding: 1rem; margin: 7px; background-color: rgb(54, 131, 246); color:white; border-radius: 7px">Add Members</button>
        </div>

        <!-- <div *ngIf="addedMembersList.length > 0" class="added-members-list">
          <ul>
            <li *ngFor="let member of addedMembersList; let i = index">
              <div class="parentBtn">
              <div>
              {{ member }}
            </div>
            <div>
              <button (click)="removeMember(i)" class="RemoveBtn">Remove</button>
            </div>
          </div>
            </li>  
          </ul>
        </div> -->
        <div class="members-list">
          <h3>Members:</h3>
          <div *ngIf="ProjectForm.controls['members'].value && ProjectForm.controls['members'].value.length > 0">
            <div *ngFor="let member of ProjectForm.controls['members'].value" class="member-item">
              <span style="color: black">{{ member.employeeName}}</span>
              <!-- <span>{{member.employeeId}}</span> -->
              <button (click)="removeMember(member.employeeId, member.employeeName)" class="removeBtn">Remove</button>
            </div>
          </div>
          <div *ngIf="!(ProjectForm.controls['members'].value && ProjectForm.controls['members'].value.length > 0)">
            No members added.
          </div>
        </div>
        <!-- <div >
          <button (click)="addMembers()">Add Members</button>
        </div> -->

      </div>

      <div class="submit-button">
        <button
        class="cancleButton"
        type="button"
        mat-button
        mat-dialog-close
        [routerLink]="isEdit ? ['/projects/view', paramId] : '/projects'"
      >
        Cancel
      </button>
        <button type="submit" [disabled]="!ProjectForm.valid && ProjectForm.pristine" (click)="submit()"
        [ngStyle]="{
          'background-color': (!ProjectForm.valid || disableSubmitBtn) ? '#d6d6d6' : '#007bff',
          'color': (!ProjectForm.valid || disableSubmitBtn) ? '#a1a1a1' : 'white',
          'cursor': (!ProjectForm.valid || disableSubmitBtn) ? 'not-allowed' : 'pointer'
        }">{{isEdit ? 'Update' : 'Submit'}}</button>
      </div>
    </form>
  </div>
</section>
