<div class="dashboard-container">
    <div class="sidebar">
      <div class="project-name">
        <h2 class="font-bold">Project Name</h2>
      </div>
      <nav>
        <ul>
          <li><a href="#">Overview</a></li>
          <li><a href="#">Reports</a></li>
          <li><a href="#" class="active">Sales</a></li>
          <li><a href="#">Traffic</a></li>
          <li><a href="#">Inventories</a></li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">Archive data</a></li>
        </ul>
      </nav>
      <div class="teams">
        <h3>Teams</h3>
        <div class="team-members">
          <!-- Placeholder for team members' avatars -->
        </div>
        <a href="#" class="invite-button">+ Invite</a>
      </div>
    </div>
  
    <div class="main-content">
      <header>
        <div>
        <h1>Department</h1>
        <!-- <h1 class="font-extrabold text-yellow-800">Hello world</h1> -->
    </div>
        <div class="actions">
          <input type="text" placeholder="Search" class="search-input" [(ngModel)]="searchQuery" (input)="findDepartment()">
          <!-- <div class="category-filter">
            <label for="category">Category</label>
            <select id="category">
              <option value="">All</option>
            </select>
          </div> -->
          <!-- <div class="filter">
            <button>Filter</button>
          </div> -->
          <div class="import-export">
            <button class="import" (click)="addNewDepartment()">Add New Department</button>
            <!-- <button class="import">Import</button>
            <button class="export">Export</button> -->
          </div>
        </div>
      </header>
  
      <div class="table-container">
        <table class="sales-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Department Name</th>
              <th>Created At</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let department of filteredDepartmentData; let i = index">
              <td>{{i+1}}</td>
              <td>{{department.name}}</td>
              <td>{{department.createdOn | date}}</td>
              <td><button (click)="deleteDepartment(department.id!)">Delete</button></td>
              <!-- <td><img src="assets/images/delete.png" alt="Delete Icon" style="width: 5rem; height: 5rem"></td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination">
        <span>106 results</span>
        <div class="page-controls">
          <button>&lt;</button>
          <span>1</span>
          <!-- <span>{{this.departmentListLength}}</span> -->
          <button>&gt;</button>
        </div>
      </div>
    </div>
  </div>
  
