<div ngSkipHydration>
   <div class="dashboard-container">
    <div *ngIf="progressSpinner === true" class="spinner"  style="width: 14px; height: 14px">
      <div class="spinner-section"  style="width: 14px; height: 14px">
      <mat-spinner  [diameter]="50"></mat-spinner>
    </div>
    </div>
  
    <div class="main-content" *ngIf="progressSpinner === false">
      <header>
        <div class="headerSec">
          <div>
            <h1>Department</h1>
          </div>
          <div class="import-export">
            <button class="import" (click)="openAddDepartment()">Add New Department</button>
          </div>
        </div>
        <div class="searchParent">
          <div class="SearchingSec">
            <div class="inputSec">
              <input type="text" placeholder="Search" class="search-input" [(ngModel)]="dataPage.search"
                (keydown.enter)="searchDepartmentNew()">
            </div>
            <div><button (click)="searchDepartmentNew()" [disabled]="dataPage.search?.length == 0" class="submit">Submit</button></div>
            <div><button (click)="reset()" [disabled]="dataPage.search?.length == 0" class="reset">Reset</button></div>
            <div style="margin-left: 1rem">
              <mat-form-field style="width: 200px; margin: 2px">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Start date">
                  <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </header>
      <div class="employeeNo">
        <label style="color: rgb(117, 116, 116);">Total Departments:</label>
        <div class="length" style=" color: rgb(117, 116, 116); padding: 2px">{{departmentListLength}}</div>
      </div>
      <div class="table-container">
        <table mat-table matSort (matSortChange)="sortData($event)" class="sales-table" matSortActive="CreatedOn" matSortDirection="desc">
          <tr>
            <th>Serial No.</th>
            <th mat-sort-header="Name">Department Name</th>
            <th mat-sort-header="CreatedOn">Created On</th>
             <th> Actions</th> 
          </tr>
  
          <tr *ngFor="let department of filteredDepartmentData; let i = index">
            <td>{{ (currentPage - 1) * pagedItemsCount + (i + 1) }}</td>
            <td>{{ department.name }}</td>
            <td>{{ department.createdOn | date: 'dd/MM/yyyy' }}</td>
            <td>
              <button (click)="deleteDepartment(department.id!)" class="deleteBtn">
                <mat-icon class="small-icon">delete</mat-icon>
              </button>
            </td>
          </tr>
        </table>
      </div>
      <footer>
        <div>
        <app-pagination [pagedItemsCount]="dataPage.pagedItemsCount" [pageIndex]="dataPage.pageIndex" [totalPagesList]="totalPagesList" (pageSizeChange)="onPageSizeChange($event)"
      (onPreviousClick)="onPrevious($event)" [totalPages]="totalPages" (onNextClick)="onNext($event)" (goToPageValue)="loadPageData($event)" [totalLength]="departmentListLength"></app-pagination>
    </div>
      </footer>
  
    </div> 
  </div> 
</div>  
  
