<div class="dashboard-container">
    <div class="sidebar" style="position: sticky;" >
     <app-side-bar></app-side-bar>
    </div>
<div class="parentDiv">
    <div>
        <button (click)="openAddTaskDialog()" class="AddEpic">Add Epic</button>
    </div>
<mat-tree [treeControl]="treeControl" [dataSource]="dataSource" >
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="subParent">
        <button class="addBTn" (click)="openAddTaskDialog()">+</button>
      <button mat-icon-button disabled></button>
      {{node.name}}
      {{node.status}}
    </mat-tree-node>
  
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding class="subParent">
        <button class="addBTn" (click)="openAddTaskDialog()">+</button>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon>
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.name}}
    </mat-tree-node>
  </mat-tree>
</div>  
</div>