<div class="dashboard-container">
  <div class="sidebar" style="position: sticky;">
    <app-side-bar></app-side-bar>
  </div>
  <div *ngIf="progressSpinner === true" class="spinner">
    <div class="spinner-section">
    <mat-spinner  [diameter]="50"></mat-spinner>
  </div>
  </div>

  <div class="main-content"  *ngIf="progressSpinner === false">
    <section class="Formsection">
      <div class="ParentDiv">
        <div class="div1">
          <div>
            <div class="departmentName">Project Name: {{ProjectData.name}}</div>
            <div class="departmentName">Project Description: {{ProjectData.description}}</div>
            <div class="departmentName">Created By : {{ProjectData.createdBy}}
              <div *ngIf="ProjectData.createdBy === null">null</div>
            </div>
            <div class="departmentName">
              Created On : {{ProjectData.createdOn | date: 'dd/MM/yyyy'}}
            </div>
          </div>
          <div class="btnsection">
            <div>
              <button (click)="viewMembers()" class="updateBtn">View Members</button>
            </div>
          <div>
            <button (click)="openAddTaskDialog()" class="addNewBtn">Add New Task</button>
          </div>
          <div *ngIf="!(role == 0 || role == 1)">
            <button [routerLink]="['/projects/edit', this.paramId]" class="updateBtn">Update</button>
          </div>
        </div>
        </div>
        <div class="div2">

          <!--Members Section-->
          <!-- <div class="MembersSec">
            <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="font-size: 24px;">Members : </div>
            <div><button (click)="addMembers()">Add Members</button></div>
          </div>
            <span *ngFor="let members of addedMembersList" ngIf="addedMembersList.length > 0" class="subSec">
              <div style="display: flex;">
              <div class="data1">{{members.employeeName}}</div>
              <div ><button class="removeBtn" (click)="removeMember(members.employeeId, members.employeeName)">Remove</button></div>
              </div>
            </span>
            <span *ngIf="addedMembersList.length == 0 || addedMembersList.length == null">
              <div class="data1">No member Assigned</div>
            </span>
          </div> -->
          <div class="NameSec">
            <div *ngIf="ProjectData.totalTask != null" class="DivSec">
              <div> Total Task</div>
              <div>{{ProjectData.totalTask}}</div>
            </div>
            <div *ngIf="ProjectData.pendingTask != null" class="DivSec">
              <div> Pending Task</div>
              <div>{{ProjectData.pendingTask}}</div>
            </div>
            <div class="newnew">
              <div class="data">
                <app-tasks-list *ngIf="projectId" [projectId]="projectId" [openReviewBox]="openReviewBox"
                  (taskArrayLengthChanged)="handleTaskLength($event)" ngSkipHydration></app-tasks-list>
              </div>
            </div>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </section>
  </div>
</div>