<div class="dashboard-container">
  <div class="sidebar" style="position: sticky;">
    <app-side-bar></app-side-bar>
  </div>

  <div class="main-content">
    <section class="Formsection">
      <div class="ParentDiv">
        <div *ngIf="progressSpinner === true" class="spinner">
          <mat-spinner></mat-spinner>
        </div>
        <div class="div1">
          <div class="employeeName">{{ProjectData.name}}</div>
          <div class="departmentName">{{ProjectData.description}}</div>
          <div>
            <button  [routerLink]="['/projects/edit', this.paramId]">Update</button>
          </div>
        </div>
        <div class="div2">
          <div class="MembersSec">
            <div>Members : </div>
            <!-- <button (click)="openEmployeeDialog()">Add Members</button> -->
            <div *ngFor="let members of addedMembersList" class="subSec">
            <div class="data1">{{members.employeeName}}</div>
            <!-- <div class="removeBtn" (click)="removeMember(members.employeeId, members.employeeName)">Remove</div> -->
          </div>
          </div>
          <div class="NameSec">
            <div>Tasks : </div>
            <div *ngIf="ProjectData.totalTask != null" class="DivSec">
              <div> Total Task</div>
              <div>{{ProjectData.totalTask}}</div>
            </div>
            <div *ngIf="ProjectData.pendingTask != null" class="DivSec">
              <div> Pending Task</div>
              <div>{{ProjectData.pendingTask}}</div>
            </div>
            <div class="data" *ngIf="ProjectData.tasks?.length">
              <div *ngFor="let task of taskList">
                {{task.name}}
              </div>
              </div>
            <div class="data" *ngIf="ProjectData.tasks?.length === 0">
              <button class="addTask" routerLink="/tasks/Ports">View Tasks</button>
              <!-- <button (click)="openAddTaskDialog()" class="addTask" >Add Task</button> -->
            </div>
          </div>
          <div class="NameSec">
            <div>Created By : </div>
            <div *ngIf="ProjectData.createdBy === null">null</div>
            <div class="data">{{ProjectData.createdBy}}</div>
          </div>
          <div class="NameSec">
            <div>Created On : </div>
            <div class="data">{{ProjectData.createdOn | date: 'short'}}</div>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </section>
  </div>
</div>
