<section class="homePageSec">
<div class="homepage">
    <div class="section-box employee" routerLink="/employees">
      <div class="section-content">
        <h2>Employee Section</h2>
      </div>
    </div>
    <div class="section-box department" routerLink="/departments">
      <div class="section-content">
        <h2>Department Section</h2>
      </div>
    </div>
    <div class="section-box tasks" routerLink="/tasks">
      <div class="section-content">
        <h2>Tasks Section</h2>
      </div>
    </div>
    <div class="section-box projects" routerLink="/projects">
      <div class="section-content">
        <h2>Projects Section</h2>
      </div>
    </div>
  </div>
</section>  
  