
<div class="dashboard-container">
    <app-side-bar></app-side-bar>
  
    <div class="main-content">
      <header>
        <div>
        <h1>Project</h1>
    </div>
        <div class="actions">
          <!-- <input type="text" placeholder="Search" class="search-input" [(ngModel)]="searchQuery" (input)="findProject()"> -->
          <!-- <div class="category-filter">
            <label for="category">Category</label>
            <select id="category">
              <option value="">All</option>
            </select>
          </div> -->
          <!-- <div class="filter">
            <button>Filter</button>
          </div> -->
          <div class="import-export">
            <button class="import" (click)="addNewProject()">Add New Project</button>
            <!-- <button class="import">Import</button>
            <button class="export">Export</button> -->
          </div>
        </div>
      </header>
  
      <div class="table-container">
        <table class="sales-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Project Name</th>
              <th>Description</th>
              <th>Created At</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of projectList; let i = index">
              <td>{{i+1}}</td>
              <td>{{project.name}}</td>
              <td>{{project.description}}</td>
              <td>{{project.createdOn}}</td>
              <td>
                <button (click)="deleteProject(project.id)">Delete</button>
                <button [routerLink]="['/project/view', project.id]">View</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination">
        <!-- <span>{{this.projectListLength}}</span> -->
        <div class="page-controls">
          <button>&lt;</button>
          <span>1</span>
          <button>&gt;</button>
        </div>
      </div>
    </div>
  </div>
  
