// @media (max-width: 850px) {
//   .p-table td {
//       display: block;
//       width: 100%;
//       text-align: left;
//   }
// }

@media (max-width: 850px) {
  .p-table {
      display: block;
      width: 100%;
  }
  .p-table thead {
      display: none;
  }
  .p-table td {
      display: block;
      width: 100%;
      text-align: left;
      border: none;
      padding: 10px 0;
  }
  .p-table td::before {
      content: attr(data-label);
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
  }
}

