/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'primeng/resources/themes/saga-blue/theme.css'; /* or your theme */
@import 'primeng/resources/primeng.min.css';
@import 'primeflex/primeflex.css'; 
@import 'ngx-toastr/toastr';

.toast-custom-position {
    position: fixed !important;
    top: 100px !important;  
    left: 100px !important;  
    z-index: 9999 !important;  
}


.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
    color: grey !important;
}

.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: grey !important; /* Replace with your preferred color */
}



